  .modeButton {
    width: 50px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    box-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 30%;
  }
  
  .modeButton.light {
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .modeButton.dark {
    background-color: #333;
    color: white;
  }
  
  @media (max-width: 768px) {
    .footerContainer {
      right: 5px;
    }
  
    .modeButton {
      padding: 10px;
      font-size: 1.25rem;
    }
  }
  