.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100vw;
  gap: 2%;
}
.contact-section {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  width: 75%; 
  height: 80vh;
  background-color: #2c2d30;
  box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.contact-section h3 {
  color: white;
  font-size: 37px;
  text-align: center;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 20px 0 0 0;
}
.contact-section h4 {
  color: white;
  font-size: 27px;
  text-align: left;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 5% 0 2% 11%;
}
.contact-section h5 {
  color: white;
  font-size: 27px;
  text-align: left;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 5% 0 2% 11%;
}
.border-title-contact{
  position: relative;
  z-index: 3;
  box-shadow: inset 1.5px 1.5px 1.5px #202125, inset -1.5px -1.5px 1.5px #353535;
  height: 0.5rem;
  border-radius: 1em;
  border: 0;
  width: 20%;
  margin: 10px 0 0 40%
}
.border-title-contact:after{
  position: absolute;
  content: "";
  height: 0.25rem;
  background: #f56c6d;
  width: 50%;
  border-radius: 3em;
  margin-left: 27%;
}
@media (max-width: 920px) {
  .contactPage {
    flex-direction: column-reverse; 
    overflow: hidden;
    gap: 0;
    min-height: 100vh;
    
  }
  .contact-section {
    min-height: auto; 
    min-height: 80vh;
    margin-bottom: 15px; 
    overflow-y: auto; 
  }
}