body {
  margin: 0;
  padding: 0;
}
.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2%;
}
.homePage-section {
  position: relative;
  z-index: 1;
  border-radius: 50px;
  width: 100vh;
  height: 80vh;
  background-color: #2c2d30;
}
.title {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
video{
  margin-top: 10%;
  border-radius: 50px;
}
.container-button {
  height: 15vh;
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
}
.button-cv {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
}
.button {
  border-radius: 50%;
  width: 50px;
  height: 50px²;
  background-color: #2c2d30;
  cursor: pointer;
}

.button:hover {
  background-color: #4caf50; /* Couleur au survol */
  transform: scale(1.1); /* Légère mise en avant */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Animation du titre */
.title h1 {
  font-size: 3rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.title h1:hover {
  transform: translateY(-10px); /* Légère montée du texte */
  color: #4caf50; /* Changement de couleur */
}