.container-informations{
  display: flex;
  justify-content: space-between;
  margin: 2% 2% 2% 4%;
}
.info-box {
  background-color: #292929;
  border-radius: 8px;
  padding: 20px;
  box-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #353535;
  width: 40%;
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.info-label {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.info-value {
  font-size: 18px;
  text-align: left;
  padding: 10px;
  color: #ddd;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
tr:not(:last-child) td {
  border-bottom: 1px solid #444;
}
@media (max-width: 920px) {
  .container-informations{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-box{
    width: 74%;
  }
  .info-label{
    font-size: 15px;
    overflow-wrap: break-word;
  }
  .info-value {
    font-size: 14px;
    overflow-wrap: break-word;
  }
}