.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  gap: 2%;
}

.homePage-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50px;
  width: 75%;
  height: 80vh;
  box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
  overflow-y: auto;
  background-image: url("../../assets/images/pictures-home/pictures_home.jpg");
  background-size: cover;
  background-position: center;
}
.homePage-section.light{
  background-image: url("../../assets/images/pictures-home/pictures_home_light.jpg");
  box-shadow: 2px 4px 12px #00000014;
}
.title-home {
  color: white;
  font-family: "Permanent Marker", cursive;
  animation: fadeIn 2s ease-in-out;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}
.slide-in {
  opacity: 0;
  animation: slideIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.title-home h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  margin: 0;
  font-size: 4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}
.title-home p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
}
.title-home:hover h1,
.title-home:hover p {
  transform: translateY(-10px);
}
.picture-home {
  width: 75%;
}
@media (max-width: 950px) {
  .homePage {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .homePage-section {
    width: 90vw;
    height: 90vw;
    padding: 10px;
    margin-bottom: 5%;
  }
  .title-home h1 {
    font-size: 2.5rem;
  }
  .title-home p {
    font-size: 1.2rem;
  }
}
