body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 35vh;
    height: 80vh;
    background-color: #2c2d30;
  }
  
  .container-header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-header {
    box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 150%;
    height: 50px;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: #2c2d30;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; 
    border: none;
  }
  
  .button-header:hover {
    transform: translateY(2px); /* Enfoncement au survol */
  }
  
  .button-header.active {
    transform: translateY(4px); /* Enfoncement supplémentaire pour le clic */
  }
  