body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #1c1c1c; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}
.header-about {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #2c2d30;
  border-radius: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2%;
}
.aboutPage-section {
  border-radius: 50px;
  width: 75%;
  height: 80vh;
  background-color: #2c2d30;
  box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.aboutPage-section::-webkit-scrollbar {
  width: 10px;
}
.titleAbout {
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 20px; 
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.border-title{
  position: relative;
  box-shadow: inset 1.5px 1.5px 1.5px #202125, inset -1.5px -1.5px 1.5px #353535;
  height: 0.5rem;
  border-radius: 1em;
  border: 0;
  width: 20%;
  margin: 10px 0 0 40%
}
.border-title:after{
  position: absolute;
  content: "";
  height: 0.25rem;
  background: #f56c6d;
  width: 42%;
  border-radius: 3em;
  margin-left: -18%;
}
.titleAbout h1{
  margin: 0;
}
@media (max-width: 920px) {
  .aboutPage {
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    gap: 10px;
  }
  .aboutPage-section{
    width: 75%;
  }
}
