

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #1c1c1c; 
}
.header-about{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #2c2d30;
  border-radius: 50px;
}
.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  gap: 2%;
}
.container-about {
  position: relative;
  z-index: 1;
  border-radius: 50px;
  width: 100vh;
  height: auto;
  background-color: #2c2d30;
}
.font{
  width: 30%;
  color: white;
  margin: 4rem 0 0 4rem;
  font-size: 25px;
  font-weight: 400;
}
.title-about{
  color: white;
  font-size: 35px;
  margin: 5rem 0 0 5rem;
}
.container-informations {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 4rem 0 4rem 0;
}
