body {
  position: relative;
  z-index: -1;
  margin: 0;
  overflow: hidden;
  background: #1b1b1d; 
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.shape {
  position: absolute;
  opacity: 0.8;
  animation: pulse-dots 4s infinite ease-in-out;
  transition: transform 0.1s ease-out;
}

.circle {
  top: 0%;
  left: 0%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(80, 80, 80, 0.9) 30%, transparent 30%);
  background-size: 25px 25px;
}

.circle2 {
  top: 81%;
  left: 41%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(80, 80, 80, 0.9) 30%, transparent 30%);
  background-size: 25px 25px;
}

.triangle {
  top: 2%;
  right: 0%;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent; 
  border-bottom: 250px solid rgba(150, 150, 150, 0.8);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangle2 {
  top: 79%;
  left: 0%; 
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent; 
  border-top: 200px solid rgba(150, 150, 150, 0.8);
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.square {
  top: 5%;
  left: 50%;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, rgba(80, 80, 80, 0.9) 30%, transparent 30%);
  background-size: 25px 25px;
  transform: translateX(-50%) rotate(10deg);
}

.square2 {
  top: 83%;
  right: 10%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(80, 80, 80, 0.9) 30%, transparent 30%);
  background-size: 25px 25px;
  transform: rotate(-10deg);
}

.hexagon {
  top: 40%;
  left: 10%;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, rgba(80, 80, 80, 0.9) 30%, transparent 30%);
  background-size: 25px 25px;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
}

.hexagon2 {
  top: 50%;
  left: 90%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(80, 80, 80, 0.9) 30%, transparent 30%);
  background-size: 25px 25px;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
}

@keyframes pulse-dots {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@media (max-width: 768px) {
  .triangle{
    top: 44%;
    right: 0%;
  }
  .square{
    top: 22%;
    left: 60%;
  }
}