.projectPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2%;
}

.project-section {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  width: 75%;
  height: 80vh;
  background-color: #2c2d30;
  box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.project-section.light{
  background-color: #fdfefe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.title-project-page {
  text-align: center;
  font-size: 25px;
  color: inherit;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.title-project-page h2{
  margin: 10px 0 0 0;
}

.project-competences span:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.border-title-project.light{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media (max-width: 920px) {
  .projectPage{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .project-title{
    flex-direction: column;
  }
  .font-competence{
    font-size: 11px;
  }
}