body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .reveal-element {
    opacity: 0;
    transform: translateY(50px); /* Position de départ en dehors de la vue */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Animation au moment où l'élément devient visible */
  }
  
  .reveal-element.in-view {
    opacity: 1;
    transform: translateY(0); /* Position finale à sa place */
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #555;
    font-size: 18px;
  }
  